<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Phoenix Framework">
      <%= assigns[:page_title] || "Tcpbin" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-white">
    <a href="https://github.com/dominicletz/tcpbin/">
      <img
        decoding="async"
        loading="lazy"
        width="149"
        height="149"
        src="https://github.blog/wp-content/uploads/2008/12/forkme_right_darkblue_121621.png"
        style="position: absolute; top: 0; right: 0; border: 0; z-index: 2000"
        alt="Fork me on GitHub"
        data-recalc-dims="1"
      />
    </a>
    <header class="border-b-2 mx-auto p-5">
      <section class="">
        <a href="/">
          <img src={~p"/images/tcpbin.png"} alt="TCP debug server" />
        </a>
      </section>
    </header>
    <%= @inner_content %>
  </body>
</html>
