<section class="phx-hero">
  <h1>tcpbin.net</h1>
  <p>Create your own bin</p>

  <form phx-submit="create">
    <button type="submit" phx-disable-with="Creating...">New Bin</button>
  </form>
</section>

<section>
  <h2></h2>

</section>
